alabaster==0.7.12
awscli==1.16.110
Babel==2.6.0
beautifulsoup4==4.7.1
botocore==1.12.100
certifi==2018.11.29
chardet==3.0.4
Click==7.0
colorama==0.3.9
coverage==4.5.2
cssselect==1.0.3
docutils==0.14
entrypoints==0.3
flake8==3.7.6
idna==2.8
imagesize==1.1.0
Jinja2==2.10
jmespath==0.9.3
lxml==4.3.1
MarkupSafe==1.1.0
mccabe==0.6.1
nltk==3.4
packaging==19.0
pyasn1==0.4.5
pycodestyle==2.5.0
pyflakes==2.1.0
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
PyYAML==3.13
readability-lxml==0.7
requests==2.21.0
rsa==3.4.2
s3transfer==0.2.0
six==1.12.0
snowballstemmer==1.2.1
soupsieve==1.7.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
# Editable install with no version control (src==0.1.0)
-e /home/joe/Git/research/atap
urllib3==1.24.1
